ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    row-gap: 20px;
}
.cd {
    padding: 10px;
}
ul div:hover{
    background-color: rgb(241, 250, 250);
}
.avail{
    color: rgb(6, 180, 6);
}
.unavail{
    color: rgb(219, 25, 25);
}
.create{
    margin-left: 85%;
    height: 50px;
    width: 100px;

}
.create:hover{
    cursor: pointer;
}

.update{
    background-color: rgb(252, 164, 2);
    height: 32px;
    width: 70px;
    margin-right: 5px;
}
.delete{
    background-color: rgb(255, 34, 34);
    height: 32px;
    width: 70px;
}